.img {
  width: 300px;

  @media only screen and (max-width: 600px) {
    width: 100%;
  }
}

.education {
  padding: 0.5rem 3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @media only screen and (max-width: 600px) {
    padding: 0.5rem 1rem;
  }

  .section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
    .title {
      font-weight: bold;
      margin-right: 12px;
      font-size: 25px;
    }

    p {
      font-size: 15px;
    }

    ul {
      padding-left: 0;
    }

    li {
      list-style: none;
    }
  }
}
