.img {
  width: 300px;

  @media only screen and (max-width: 768px) {
    width: 200px;
    justify-self: center;
    align-self: center;
  }

  @media only screen and (max-width: 450px) {
    width: 150px;
  }
}

.education {
  padding: 0.5rem 3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow: hidden;
  max-width: 1200px;
  margin: 0 auto;

  @media only screen and (max-width: 768px) {
    padding: 0.5rem 1rem;
  }

  @media only screen and (max-width: 450px) {
    padding: 0.5rem 0.5rem;
    grid-template-columns: 1fr;
  }

  .section {
    display: grid;
    grid-template-columns:150px 1fr;
    padding: 1rem;
    .title {
      font-weight: bold;
      margin-right: 12px;
      font-size: 25px;

      @media only screen and (max-width: 768px) {
        font-size: 20px;
      }
    }

    p {
      font-size: 15px;
    }

    ul {
      padding-left: 0;
    }

    li {
      list-style: none;
    }
  }
}
