.navbar {
  font-size: 18px;
  margin-bottom: -20px;
  position: fixed;
  top:0;
  z-index: 5;
  display: flex;
  width: 100%;
  justify-content: space-between;

  @media screen and (min-width: 768px) {
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0;
    height: 70px;
    padding: 10px;
  }
}

img {
  width: 100px;
}

.logo {
  display: inline-block;
  font-size: 22px;
}

.main-nav {
  list-style: none;
  margin-bottom: 10px;
}

.main-nav li {
  text-align: center;
  margin: 0 auto 15px;
  list-style-type: none;
  display: none;
  color: #252626;
  a {
    text-decoration: none;
    color: #252626;

    &:visited {
      color: inherit;
    }
  }
}

.nav-links,
.logo {
  text-decoration: none;
}

.toggle {
  order: 3;
  align-self: flex-start;
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 40px;
  padding-top: 10px;


  &:focus {
    outline: none;
  }

  &:active {
    border: none;
  }
}

.active li {
  display: block;
}

@media screen and (min-width: 768px) {

  .main-nav {
    display: flex;
    margin-right: 20px;
    justify-content: flex-end;
    margin-top: 0px;
    margin-bottom: 0px;
    align-self: center;

    li {
      display: block;
      padding: 15px;
      color: #252626;
      a {
        text-decoration: none;
        color: #252626;

        &:visited {
          color: inherit;
        }
      }

      &:hover {
        background-color: #0fbab4;
      }
    }
  }

  .nav-links {
    margin-left: 40px;
    display: block;
  }
  .logo {
    margin-top: 0;
  }
  .toggle {
    display: none;
  }
}
