.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-image: url(../../images/background.jpg);
}

.navigation {
}

.logobox {
  float: left;
  img {
    width: 100px;
  }
}
.menu {
  list-style: none;
  text-decoration: none;
  display: flex;
}

.menu-item {
  padding: 15px;
  color: #252626;
  a {
    text-decoration: none;
    color: #252626;

    &:visited {
      color: inherit;
    }
  }

  &:hover {
    background-color: #0fbab4;
  }
}
