.navbar {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0;
  height: 70px;
  padding: 10px;
  font-size: 18px;
  position: fixed;
  z-index: 5;
  height: 70px;
  width: 100%;

  @media screen and (max-width: 768px) {
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0;
    height: 70px;
  }
}

img {
  width: 80px;
}

.logo {
  display: inline-block;
  font-size: 22px;
}

.main-nav {
  display: flex;
  margin-right: 20px;
  justify-content: flex-end;
  align-self: center;
  margin-top: 0px;
  margin-bottom: 0px;
  align-self: center;
  @media screen and (max-width: 768px) {
    list-style: none;
    margin-bottom: 10px;
    flex-direction: column;
    align-self: flex-start;
    
  }

  li {
    display: block;
    padding: 15px;
    color: #252626;
    a {
      text-decoration: none;
      color: #252626;

      &:visited {
        color: inherit;
      }
    }

    &:hover {
      background-color: #0fbab4;
    }

    @media screen and (max-width: 768px) {
      padding: 0.2rem;
      text-align: center;
      list-style-type: none;
      display: none;
      color: #252626;
      a {
        text-decoration: none;
        color: #252626;

        &:visited {
          color: inherit;
        }
      }
    }
  }
}

.nav-links,
.logo {
  text-decoration: none;
}

.toggle {
  display: none;
  @media screen and (max-width: 768px) {
    order: 3;
    align-self: flex-start;
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 40px;
    padding-top: 10px;
    display: block;
    padding-right: 10px;

    &:focus {
      outline: none;
    }

    &:active {
      border: none;
    }
  }
}

.active li {
  display: block;
}

// @media screen and (min-width: 768px) {
//   .main-nav {
//     display: flex;
//     margin-right: 20px;
//     justify-content: flex-end;
//     margin-top: 0px;
//     margin-bottom: 0px;
//     align-self: center;

//     li {
//       display: block;
//       padding: 15px;
//       color: #252626;
//       a {
//         text-decoration: none;
//         color: #252626;

//         &:visited {
//           color: inherit;
//         }
//       }

//       &:hover {
//         background-color: #0fbab4;
//       }
//     }
//   }

//   .nav-links {
//     margin-left: 40px;
//     display: block;
//   }
//   .logo {
//     margin-top: 0;
//   }
//   .toggle {
//     display: none;
//   }
// }
