.greeting {
  background-image: url(../../images/background.jpg);

  height: 100%;
  padding: 0 5rem;
  padding-bottom: 5rem;
  overflow: hidden;

  @media only screen and (max-width: 768px) {
    padding: 0 3.5rem;
  }

  @media only screen and (max-width: 768px) {
    padding: 0 2rem;
  }

  &__title {
    font-size: 100px;
    margin-top: 0;
    color: #78559e;
    font-family: "Red Rose", cursive;
    animation: moveInRight 1s ease-out;

    @media only screen and (max-width: 768px) {
      font-size: 60px;
      margin-bottom: 0px;
    }

    @media only screen and (max-width: 450px) {
      font-size: 50px;
      margin-bottom: 0px;
      margin-top: 20px;
    }
  }
}

.intro {
  display: flex;
  justify-content: space-around;

  @media only screen and (max-width: 768px) {
    flex-direction: column;
  }

  &__info {
    animation: moveInRight1 1s ease-out;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    visibility: hidden;

    @media only screen and (max-width: 768px) {
      margin-top: -30px;
    }
  }

  &__title {
    animation: moveInLeft 1s ease-out;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    visibility: hidden;
    margin-right: 1rem;
  }

  h6 {
    font-size: 18px;
    margin-bottom: 10px;
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight1 {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
    visibility: visible;
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
    visibility: visible;
  }
}
