body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #252626;
}

h2 {
  grid-column: 1/-1;
  text-align: center;
  font-family: "Red Rose", cursive;
  font-size: 50px;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #0fbab4, #78559e);
  background-clip: text;
  color: transparent;
  letter-spacing: 4px;
  margin: 10px 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
